:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #eeeedd;
  --swatch-primary: #e6e6e6;
  --swatch-complement: #e1e4cb;
  --swatch-contrast: #111111;
  --swatch-accent: #669966;
  --swatch-status: #123456;
  --my-font-family: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
}

#root {
  background-color: var(--swatch-primary);
  font-family: "Lexend Exa";
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 5%;
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#top5-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  float: left;
  background-image: linear-gradient(to bottom, #b8b808, #636723);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

#splash-screen {
  background-image: linear-gradient(46deg, #2c2f70, #d4af37, #d4d4f5, #2c2f70);
  color: black;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 10%;
  height:70%;
  text-align: center;
  vertical-align: center;
}

#splash-button-list {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.splash-button {
  background-image: linear-gradient(46deg, #d4af37, #2c2f70, #d4d4f5);
  cursor:pointer;
}

#splash-footer {
  position:absolute;
  bottom: -20px;
  right: 20px;
  color: black;
  text-align: center;
}

#top5-statusbar {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 10%;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}
